<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About US</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, voluptates. Soluta doloremque asperiores inventore nisi quod voluptas illo sequi blanditiis dolores impedit! Quidem dignissimos nisi ab quae mollitia, cumque ratione perspiciatis magnam inventore autem nam facere consequatur, praesentium sint maiores, eos numquam eveniet nobis ut eaque obcaecati! Quo, enim suscipit.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores dolore voluptate dolorem necessitatibus, omnis nulla culpa assumenda laudantium enim ducimus quo ratione cumque vitae doloremque sint eligendi debitis dolores reiciendis, molestias ab? Sit ut autem eaque laboriosam laborum eos fugiat, mollitia vel libero minima molestias earum ab nostrum obcaecati et.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nostrum eligendi voluptates enim ipsa? Ad ratione fugit ut inventore tenetur! Quidem molestias odio, consectetur corrupti necessitatibus debitis repellat, eligendi, odit saepe porro recusandae itaque nostrum. Repellat id perspiciatis ipsam magni corporis aperiam asperiores quas esse ex, enim modi sapiente voluptatum?</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>